$darkGreen: #222;
$green: #304d30;
$beige: #b6c4b6;
$ligthBeige: #eef0e5;

html {
  background-color: $darkGreen;
  color: $ligthBeige;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.app {
  display: flex;
  justify-content: center;
  color: $beige;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN AND REGISTER
    .auth {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: $darkGreen;
      height: calc(100vh + -100px);
      color: $beige;

      h1 {
        font-size: 28px;
        color: $ligthBeige;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #333;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          background: #333;
          border-bottom: 1px solid gray;
          color: white;

          &::placeholder {
            color: $beige;
          }
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 14px;
          text-align: center;
          line-height: 24px;
        }

        .authBtn {
          color: $ligthBeige;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
    //NAVBAR
    .navbar {
      .container {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          gap: 12px;
          align-items: center;
          color: $ligthBeige;
          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            width: 50px;
            height: 50px;
            background-color: $beige;
            color: black;
            font-size: 16px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid $beige;

            &:hover {
              background-color: $darkGreen;
              color: $beige;
              border: 1px solid $beige;
            }
          }
        }
      }
    }
    //FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $beige;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        height: 50px;
      }
      span {
        color: black;
      }
    }
    //HOME
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 160px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $green;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
            }
            p {
              font-size: 18px;
            }
            button {
              width: max-content;
              padding: 10px 20px;
              cursor: pointer;
              border: 1px solid $beige;
              color: $green;
              background-color: $beige;

              &:hover {
                background-color: $darkGreen;
                color: $beige;
                border: 1px solid $beige;
              }
            }
          }
        }
      }
    }
    //SINGLE
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
          p {
            margin: 0;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: $beige;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 25px;
          color: $beige;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: $beige;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            cursor: pointer;
            border: 1px solid $beige;
            color: $green;
            background-color: $beige;

            &:hover {
              background-color: $darkGreen;
              color: $beige;
              border: 1px solid $beige;
            }
          }
        }
      }
    }
    //WRITE
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      color: $beige;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid gray;
          background-color: inherit;
          color: $ligthBeige;
        }

        .editorContainer {
          height: 300px;
          overflow: auto;
          border: 1px solid $beige;
          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid $beige;
          flex: 1;
          padding: 10px;
          gap: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 14px;
          color: $beige;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: $darkGreen;
              background-color: $beige;
              border: 1px solid $darkGreen;
              padding: 3px 5px;
            }

            :last-child {
              cursor: pointer;
              color: $beige;
              background-color: #333;
              border: 1px solid $beige;
              padding: 3px 5px;
            }
          }
          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: $beige;
          }
        }
      }
    }
  }
}
